<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="href="https://anaboca.netlify.com">Ana Boca</a>. 
    Ana has her Master of Fine Arts in Creative Writing with an emphasis in poetry. 
    She is a writer turned web developer who is still honing in on her coding skills.
  </p>

  <p>
    Ana aims to merge the world of weird writers with the world of weird coders in this fun quote generating web application.
  </p>

  <p>
    If you want to learn how to code like Ana - start at the <a target="_blank" href="https://online.bootcampspot.com">Boot Camp Spot</a>.
  </p>

  <br />

  <div class="row">
    <div class="col-12 col-md-4">
      <%= image_tag 'ana.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-md-7 offset-md-1" style="padding-top: 30px;">
      <h2 class="text-center">Ana Boca</h2>
      <br />
      <p>
        Ana is a highly-educated and business-minded professional in the process of a career change into web development from teaching and instructional design.
      </p>
    </div>
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>