<h2 class="mb-5">
  <span>
    SPLURTY / No. <%= @quote.id %>
  </span> 
  Here are some of the <u>weirdest quotes</u> you will ever read!
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="float-right mb-5">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />